!!! 5

%html
  %head
    %title Openspace Rio
    %meta{:charset => 'iso-8859-1'}
    %link{:href => 'application.css', :rel => 'stylesheet', :type => 'text/css'}
  %body
    %center
      %h1 Openspace Rio
    %ul
      %li Seja quem for que veio, é a pessoa certa;
      %li O que quer que aconteça, é apenas aquilo que deveria ter acontecido;
      %li Quando quer que comece é na hora certa;
      %li Quando acaba, acabou. E acompanhando a "Lei dos Dois Pés" afirmando que, "Se a qualquer momento você encontra-se em qualquer situação onde você não estiver nem aprendendo nem contribuindo use seus dois pés e dirija-se para um lugar mais ao seu gosto".
